.button {
	background-color: #2d2e30;
	border: white;
	border-style: solid;
	color: white;
	padding: 10px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 6px;
}

.red_button {
	background-color: #cc261b;
	border: white;
	border-style: solid;
	color: white;
	padding: 10px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 6px;
}

.yellow_button {
	background-color: #bf8e08;
	border-style: solid;
	color: white;
	padding: 10px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 6px;
}

.green {
	background-color: #069631;
	float : right;
}

.body-contents {
	background-color: #18191b;
	text-align: center;
	color:white;
}

input[type=text], select {
	width: 28%;
	padding: 20px 24px;
	margin: 12px 0;
	margin-left: -25px;
	display: inline-block;
	background-color: #2d2e30;
	font-size: 28px;
	color: white;
	border: 2px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#form {
	margin-top: 150px;
}

#noteform {
	margin-top: 30px !important;
}

#when {
    margin-left: 410px;
    margin-bottom: -10px !important;
}

#logoHead{
	margin-left: -25px !important;
}

#home h1 {
	margin-top: 100px;
	font-size: 42px;
	color: white;
}

#home label {
	margin-top: 100px;
}

#add_category button {
	margin-top: 25px;
	margin-left: -25px;
}

.red {
	color: red;
	font-size: 18px;
}

#category_list{
	text-align:center;
}

#category_list h1{
	color:white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color:white;
  width: 100%;
}

td, th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.hidden{
	display:none;
}

.dashboard{
	background-color:#23272299;
}

.notesContent {
    background-color: #0c6945;
    border-radius: 2%;
    border: 1px;
    margin-top: -18px;
    color: white;
    font-size: 16px;
}

#multibutton{
	margin-top:15px;
	margin-left: 510px;
}

.spacing{
	margin-right: 10px;
}

.shadow{
	box-shadow: 0 8px 16px 0 #2d2e30;
}

.greennote{
	background-color: #069631;
}

.lalign{
	margin-left:-100px !important;
}

.rednote{
	background-color: #cc261b;
}

.nname {
    background-color: #0c6945 !important;
    border-radius: 2% !important;
    border: 0px !important;
    width: 46.7% !important;
    margin-left: 107px !important;
}

.noteadjust{
	 margin-left: 0px !important;
}

.categorydropdown{
	font-size: 12px !important;
	width: 15% !important;
}

.add {
    background-color: #069631;
    border-style: solid;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 #2d2e30;
    margin-left: 15px;
}

.min {
    background-color: #cc261b;
    border-style: solid;
    color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 #2d2e30;
    margin-left: 15px;
}
